h1
{
    color: rgb(56, 145, 178);
    font-size: 30px;
}

p{
    color: yellowgreen;
    font-size: 60px;
}

.div1{
    background-color: aquamarine;
    height: 40px;
}

.div2{
    background-color:bisque ;
    height: 40px;
}

.div3
{
    background-color: blueviolet;

}
.div4
{
    background-color: rgb(183, 44, 44);
}
.div5
{
    background-color:cadetblue;
}


#all{
    height: 40px;
    gap: 10px;
}

*{
    padding: 10px;
}

.div6{
    color: black;
}
