.div1{
   height: 100vh;
   width: 50vh;
   background-color: antiquewhite;
}

@media screen  and (max-width: 50vh) 
    
{
    .div1{
        background-color: aquamarine;
        overflow: scroll;

        

    }

    
}