.pdiv{
background-color: white;
height: 93vh;
width: 80%;
justify-self: center;
position: fixed;
margin-top: 25px;
}
.h2a{
    margin-top: 150px;
    margin-left: 150px;
    font-size:xx-large;
    
}